body {
	font-family: sans-serif;
}

#events-ui {
	height: 100%;
}
#events-ui #thumbs,
#events-ui #times,
#events-ui #details {
	float: left;
	height: 100%;
	overflow-y: scroll;
	margin-right: -15px;
}
#events-ui #thumbs {
	width: 527px;
}
#events-ui #times {
	width: 122px;
}
#events-ui #details {
	width: 417px;
	font-variant: small-caps;
}

#events-ui #thumbs a {
	display: block;
	float: left;
	width: 170px;
	height: 100px;
}
#events-ui img {
	opacity: 0.6;
}
#events-ui .active img,
#events-ui :hover img {
	opacity: 1.0;
}

#events-ui #thumbs,
#events-ui #thumbs a,
#events-ui #times a,
#events-ui #details a {
	display: block;
	background-color: #333;
	color: white;
	text-decoration: none;
}
#events-ui #thumbs a .text,
#events-ui #times a,
#events-ui #details a .text {
	padding: 5px 10px;
	background-color: #333;
}
#events-ui a.active .text,
#events-ui #times a.active,
#events-ui #thumbs a:hover .text,
#events-ui #times a:hover,
#events-ui #details a:hover .text {
	background-color: #555;
}
#events-ui a {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  border: 1px solid transparent;
}
#events-ui a.active {
	border: 1px solid #aaa;
}

#events-ui #times a {
	font-size: 10px;
}

