body {
	font-family: sans-serif;
}
#site-header {
	position: relative;
	width: 930px;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: lighter;
}
#site-header .sub,
#site-header .main {
	display: block;
	position: relative;
	float: left;
	background: transparent;
}
#site-header .main {
	width: 450px;
	height: 450px;
}
#site-header .sub {
	width: 240px;
	height: 225px;
	background-color: #333;
}
#site-header .sub:hover ,
#site-header .sub:hover  .text {
	background-color: #555;
}
#site-header .main .text {
	position: absolute;
	bottom: 75px;
	right: 0;
	padding: 25px;
}
#site-header .main .title {
	font-size: 68px;
}
#site-header .main .subtext {
	font-size: 25px;
}
#site-header .sub .text {
	position: absolute;
	bottom: 0;
	background-color: #333;
	padding: 5px;
}
#site-header .sub .text > * {
	padding: 2px;
}
#site-header .title {
	color: white;
}
#site-header .subtext {
	color: yellow;
}

#site-header :hover img {
	opacity: 0.6;
}
#site-header img {
	opacity: 1.0;
}
