#site-header {
	position: relative;
	width: 900px;
}
#site-header .sub,
#site-header .main {
	position: relative;
	float: left;
	background: transparent;
}
#site-header .main {
	width: 450px;
	height: 450px;
}
#site-header .sub {
	width: 225px;
	height: 225px;
}
#site-header .text {
	position: absolute;
	bottom: 0;
	background-color: #555;
}
#site-header .title {
	color: white;
}
#site-header .subtext {
	color: yellow;
}
